:root {
    --colors-nile-blue-primary-100: rgba(228, 240, 250, 1);
    --colors-nile-blue-primary-200: rgba(195, 225, 244, 1);
    --colors-nile-blue-primary-300: rgba(142, 200, 235, 1);
    --colors-nile-blue-primary-400: rgba(82, 172, 222, 1);
    --colors-nile-blue-primary-50: rgba(242, 248, 253, 1);
    --colors-nile-blue-primary-500: rgba(43, 146, 204, 1);
    --colors-nile-blue-primary-600: rgba(28, 117, 173, 1);
    --colors-nile-blue-primary-700: rgba(24, 93, 140, 1);
    --colors-nile-blue-primary-800: rgba(24, 79, 116, 1);
    --colors-nile-blue-primary-900: rgba(21, 56, 81, 1);
    --colors-nile-blue-primary-950: rgba(17, 43, 64, 1);
    --form-title-font-family: "Barlow", Helvetica;
    --form-title-font-size: 18px;
    --form-title-font-style: normal;
    --form-title-font-weight: 400;
    --form-title-letter-spacing: 0px;
    --form-title-line-height: normal;
    --h1-font-family: "Barlow", Helvetica;
    --h1-font-size: 40px;
    --h1-font-style: normal;
    --h1-font-weight: 700;
    --h1-letter-spacing: 0px;
    --h1-line-height: normal;
    --h2-font-family: "Barlow", Helvetica;
    --h2-font-size: 32px;
    --h2-font-style: normal;
    --h2-font-weight: 700;
    --h2-letter-spacing: 0px;
    --h2-line-height: normal;
    --h3-font-family: "Barlow", Helvetica;
    --h3-font-size: 24px;
    --h3-font-style: normal;
    --h3-font-weight: 500;
    --h3-letter-spacing: 0px;
    --h3-line-height: normal;
    --h4-font-family: "Barlow", Helvetica;
    --h4-font-size: 18px;
    --h4-font-style: normal;
    --h4-font-weight: 600;
    --h4-letter-spacing: 0px;
    --h4-line-height: normal;
    --hyperlink-font-family: "Anuphan", Helvetica;
    --hyperlink-font-size: 12px;
    --hyperlink-font-style: normal;
    --hyperlink-font-weight: 500;
    --hyperlink-letter-spacing: 0px;
    --hyperlink-line-height: normal;
    --main-body-text-font-family: "Anuphan", Helvetica;
    --main-body-text-font-size: 16px;
    --main-body-text-font-style: normal;
    --main-body-text-font-weight: 400;
    --main-body-text-letter-spacing: 0px;
    --main-body-text-line-height: normal;
    --main-colours-error: rgba(229, 99, 99, 1);
    --main-colours-grayscale-dark-gray-5: rgba(117, 117, 117, 1);
    --main-colours-grayscale-light-gray-1: rgba(245, 245, 245, 1);
    --main-colours-grayscale-medium-dark-gray-4: rgba(158, 158, 158, 1);
    --main-colours-grayscale-medium-gray-3: rgba(189, 189, 189, 1);
    --main-colours-grayscale-medium-light-gray-2: rgba(224, 224, 224, 1);
    --main-colours-grayscale-very-dark-gray-6: rgba(66, 66, 66, 1);
    --main-colours-main-body-text: rgba(45, 45, 45, 1);
    --main-colours-primary: rgba(21, 56, 81, 1);
    --main-colours-primary-100: rgba(228, 240, 250, 1);
    --main-colours-primary-200: rgba(195, 225, 244, 1);
    --main-colours-primary-300: rgba(142, 200, 235, 1);
    --main-colours-primary-400: rgba(82, 172, 222, 1);
    --main-colours-primary-500: rgba(43, 146, 204, 1);
    --main-colours-primary-600: rgba(28, 117, 173, 1);
    --main-colours-secondary: rgba(230, 182, 85, 1);
    --main-colours-tertiary: rgba(121, 163, 177, 1);
    --main-colours-whitelist-cards-100: rgba(250, 233, 242, 1);
    --main-colours-whitelist-cards-tagged-colour: rgba(242, 181, 210, 1);
    --main-colours-whitelist-devices-100: rgba(218, 241, 229, 1);
    --main-colours-whitelist-devices-tagged-colour: rgba(153, 210, 188, 1);
    --main-colours-whitelist-groups-100: rgba(247, 235, 202, 1);
    --main-colours-whitelist-groups-tagged-colour: rgba(230, 182, 85, 1);
    --main-small-text-font-family: "Anuphan", Helvetica;
    --main-small-text-font-size: 12px;
    --main-small-text-font-style: normal;
    --main-small-text-font-weight: 400;
    --main-small-text-letter-spacing: 0px;
    --main-small-text-line-height: normal;
    --small-link-font-family: "Anuphan", Helvetica;
    --small-link-font-size: 12px;
    --small-link-font-style: normal;
    --small-link-font-weight: 400;
    --small-link-letter-spacing: 0px;
    --small-link-line-height: normal;
    --small-text-font-family: "Anuphan", Helvetica;
    --small-text-font-size: 12px;
    --small-text-font-style: normal;
    --small-text-font-weight: 400;
    --small-text-letter-spacing: 0px;
    --small-text-line-height: normal;
  }